body {
    background-color: antiquewhite;
}

.first {
    box-sizing: content-box;
    border: 8px solid black;
    margin: 16px;
    padding: 16px;
    width: 512px;
    height: 128px;
    background-color: aquamarine;
}

.second {
    box-sizing: border-box;
    border: 8px solid black;
    margin: 16px;
    padding: 16px;
    width: 512px;
    height: 128px;
    background-color: azure;
}