.menu-list {
    position: absolute;
    top: 68px;
    display: none;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
}

.menu-item {
    padding: 16px;
    list-style-type: none;
}

.menu-item:hover {
    background-color: ghostwhite;
}

.menu-button {
    position: absolute;
    padding: 16px;
    opacity: 0.8;
    font-size: 16px;
    color: white;
    background-color: darkgreen;
}

.dropdown:hover .menu-list {
    display: block;
    opacity: 1;
}

.dropdown {
    display: inline-block;
    margin: 16px;
    cursor: pointer;
}