* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #141b1c;
    max-width: 1440px;
    max-height: 1000px;
}

.price-card {
    max-width: 380px;
    flex: 1;
    background: #334247;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    margin-right: 18px;
    &__block {
        padding: 115px 132px 118px 132px;
        display: flex;
        justify-content: center;
    }
    &__title {
        margin: 33px auto;
        text-align: center;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        &-name {
            font-size: 35px;
            line-height: 43px;
            font-weight: 700;
            color: #ffffff;
            padding: 0;
        }
        &-description {
            font-size: 20px;
            line-height: 24px;
            color: rgba(255, 255, 255, 1);
            margin: 0;
        }
    }
    &__price {
        min-width: 380px;
        font-weight: 700;
        font-size: 55px;
        line-height: 67px;
        text-align: center;
        color: #ffffff;
        padding: 19px 110px;
        margin-top: 33px;
    }
    &__description {
        margin: 40px 26px;
        max-height: 36px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
    }
    &__options-list {
        max-width: 380px;
        max-height: 300px;
        padding: 0;
        border: none;
        margin-top: 0;
        margin-bottom: 39px;
        &_item {
            max-height: 50px;
            background: #334247;
            mix-blend-mode: normal;
            list-style-position: inside;
            padding: 16px 21px 16px 22px;
        }
        &_item-text {
            padding: 0;
            padding-left: 15px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: rgba(255, 255, 255, 1);
        }
        &_item:nth-child(odd) {
            background: #2a3438;
            mix-blend-mode: normal;
        }
    }
    &__order-btn {
        border-radius: 20px;
        min-width: 154px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
        border: none;
        display: flex;
        margin: 0 auto 40px auto;
        justify-content: center;
        padding: auto;
        padding: 11px;
        align-content: center;
    }
}

.price {
    &__small {
        background-color: #5bb189;
        list-style-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
    &__medium {
        background-color: #3a6ba5;
        list-style-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }
    &__large {
        background-color: #ec632a;
        list-style-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
}