* {
    box-sizing: border-box;
}

.page {
    display: flex;
    height: 100vh;
    font-size: 16px;
    font-family: monospace;
    background-color: bisque;
}

.login-form {
    background-color: aqua;
    margin: auto;
    width: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-input {
    margin-top: 4px;
    margin-bottom: 8px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 4px;
    outline: none;
}

.form-input:invalid {
    border: 3px solid #ff0000;
}

.submit-button {
    width: 100%;
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
}