@import 'layout.scss';
.products {
    &__list {
        background-color: #006400;
        display: flex;
        height: 200px;
        flex: 1;
    }
    &__navigation {
        background-color: #ff7f50;
        display: flex;
        height: 200px;
        flex: 1;
    }
    @include for-small {
        display: flex;
        flex: 2;
    }
}

.content {
    &__news {
        background-color: #0ff;
        display: flex;
        height: 200px;
        flex: 1;
    }
    @include for-large {
        display: flex;
        flex: 1;
    }
}

span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
}