@import 'layout.scss';
.navigation {
    background-color: #ff7f50;
    display: flex;
    height: $height;
    flex: $flex;
}

.products-list {
    background-color: #006400;
    display: flex;
    height: $height;
    flex: $flex;
}

.news {
    background-color: #0ff;
    display: flex;
    height: $height;
    flex: $flex;
}

span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
}

.products {
    @include for-small {
        display: flex;
        flex: $flex * 2;
    }
}

.content {
    @include for-large {
        display: flex;
        flex: $flex;
    }
}