$height: 200px;
$flex: 1;
$sm: 600px;
$lg: 900px;
@mixin for-small {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin for-large {
    @media screen and (min-width: $lg) {
        @content;
    }
}