* {
    box-sizing: border-box;
}

picture {
    max-width: 100%;
}

img {
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
    height: 100%;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(60deg, red, orange);
}

.footer {
    text-align: center;
    background-color: #e5e5e5;
    padding: 0.5em;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

.section {
    width: 60%;
    padding: 0.5em;
    font-size: 1.25em;
}

.news {
    width: 20%;
    padding: 0.5em;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    position: relative;
    background-color: #808080;
    color: white;
    height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .navigation,
    .section,
    .news {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation {
        width: 20%;
    }
    .section {
        width: 80%;
    }
    .news {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
    }
    .navigation {
        width: 20%;
    }
    .section {
        width: 60%;
    }
    .news {
        width: 20%;
    }
}