@import 'header.scss';
* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.menu {
  display: flex;
  line-height: 3em;
  list-style-type: none;
  padding-left: 3em;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  &__item {
    margin: 0 8px 0 8px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: #9acd32;
    }
    &_active {
      color: yellow;
      text-align: center;
    }
    &_active:hover > .submenu {
      display: block;
    }
  }
}

.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  &__item {
    background-color: #ff7f50;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    min-width: 120px;
    z-index: 1;
    padding: 0 8px 0 8px;
    cursor: pointer;
    display: block;
    text-align: start;
  }
  &__item:hover {
    color: black;
  }
}
