html {
    font-family: Verdana;
}

h1 {
    margin: auto;
    font-size: 74px;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

div {
    display: flex;
    height: 200px;
    background-color: coral;
    color: white;
    justify-content: center;
    text-transform: uppercase;
    line-height: 200px;
}