.container {
    height: 2000px;
    position: static;
}

div {
    padding: 16px;
}

.static-parent {
    position: static;
}

.child,
.parent {
    border: 2px solid black;
}

.relative-parent {
    position: relative;
    top: 20px;
    left: 50px;
}

.child {
    position: absolute;
    top: 90px;
    right: 40px;
}

.parent {
    width: 300px;
    height: 100px;
    background-color: yellowgreen;
}

.absolute-parent {
    position: absolute;
    right: 20px;
    left: 50px;
}

.child {
    background: yellow;
    position: absolute;
}

.tip {
    opacity: 1;
    background-color: whitesmoke;
    padding: 0 8px;
}

.green {
    width: 100px;
    height: 100px;
    background: green;
    float: left;
}

.fixed-parent {
    position: fixed;
    bottom: 20px;
    left: 30px;
}