.container {
    float: left;
    width: 50%;
    background-color: aquamarine;
    box-sizing: border-box;
}

.green {
    float: left;
    background-color: green;
}

.red {
    float: right;
    background-color: red;
}

.footer {
    height: 30px;
    border: 2px solid black;
    clear: both;
}