* {
    box-sizing: border-box;
}

.container {
    width: 50%;
    float: left;
    background-color: aquamarine;
}

.green {
    float: left;
    background-color: green;
}

.red {
    float: right;
    background-color: red;
}

.footer {
    clear: both;
}