li {
    margin-bottom: 16px;
}

li:nth-child(1)>span {
    background-color: red;
    color: white;
}

li:nth-child(6)>span {
    background-color: black;
    color: white;
}

li:nth-child(even)>span {
    margin-left: 16px;
}

.paragraphs>p:nth-of-type(odd) {
    background-color: grey;
}