* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
    height: 100vh;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(60deg, red, orange);
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex: 0 0 auto;
    flex-shrink: 0;
    max-height: 100vh;
    background-color: #e5e5e5;
    padding: 0.5em;
}

.navigation {
    width: 20%;
    padding: 0.5em;
}

.section {
    width: 60%;
    padding: 0.5em;
}

.news {
    width: 20%;
    padding: 0.5em;
}

.units-list {
    line-height: 1.75em;
    font-size: 1.25em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    display: flex;
    justify-content: center;
    font-size: 5vw;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    position: relative;
    background-color: #808080;
    color: white;
    height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2em;
}

.main {
    margin: 0;
    min-height: 100vh;
    display: flex;
}