* {
    box-sizing: border-box;
}

.image-container {
    margin: 50px auto;
}

.main-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.gallery {
    display: flex;
}

.caption {
    line-height: 30px;
    text-align: center;
}

.card {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

.opacity-filter {
    filter: opacity(50%);
}

.blur-filter {
    filter: blur(4px);
}

.invert-filter {
    filter: invert(100%);
}