.text {
    margin: 16px;
    text-decoration: underline 1px dotted black;
    position: relative;
}

.tooltip {
    display: none;
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    bottom: -40px;
}

.text:hover .tooltip {
    display: block;
}