@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    @media screen and (orientation: landscape) {
        flex-direction: row;
    }
    @media screen and (orientation: portrait) {
        flex-direction: column;
    }
}

.square {
    background-color: #a61;
    width: 100px;
    height: 100px;
    margin: 8px;
    @include for-extra-small {
        background-color: #ff7f50;
    }
    @include for-medium-up {
        background-color: #8a2be2;
    }
    @include for-large-up {
        background-color: #a61;
    }
    @include for-extra-large {
        background-color: #c47;
    }
}