* {
    box-sizing: border-box;
}

.rectangle {
    border-radius: 16px;
    width: 100px;
    height: 50px;
    margin: 50px;
    background-color: forestgreen;
}

.oval {
    border-radius: 50%;
    width: 100px;
    height: 50px;
    margin: 50px;
    background-color: darkmagenta;
}

.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: aquamarine;
}

.triangle {
    width: 50px;
    height: 50px;
    margin: 50px;
    border: 50px solid transparent;
    border-top-color: brown;
}