* {
    box-sizing: border-box;
}

.articles {
    display: flex;
}

.visible-text {
    background-color: beige;
    margin: 16px 16px;
    height: 100px;
    width: 150px;
    visibility: visible;
}

.cropped {
    background-color: beige;
    margin: 16px 16px;
    height: 100px;
    width: 150px;
    overflow: hidden;
}

.both-scrolls {
    background-color: beige;
    margin: 16px 16px;
    height: 100px;
    width: 150px;
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll {
    background-color: beige;
    margin: 16px 16px;
    height: 100px;
    width: 150px;
    overflow: auto;
    cursor: all-scroll;
}