.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner {
    position: relative;
}

.rect {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    animation: moving 2s, blinking 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}