* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    height: 3em;
    padding: 1em;
    background-color: #eee;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .navigation {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .fa-bars {
        display: none;
    }
}

.fa-bars {
    font-size: 2em;
}

.button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.navigation {
    padding: 0.5em;
    width: 20%;
}

.nav-list-item {
    margin-bottom: 0.5em;
    background-color: #808080;
    color: white;
    position: relative;
    height: 2em;
}

.nav-list-link {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    margin: auto;
    text-transform: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2em;
}