* {
    box-sizing: border-box;
}

.rectangle {
    width: 420px;
    height: 140px;
    padding: 20px;
    border-width: 10px 20px;
    border-style: solid solid dashed dashed;
    border-color: firebrick chartreuse burlywood aqua;
    margin: 50px 100px;
    background-color: bisque;
    font-size: 24px;
}