* {
    box-sizing: border-box;
}

.mountains {
    width: 300px;
    height: 500px;
    background-image: url(nature.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-top: 32px;
    text-align: center;
    background-clip: text;
}