li {
    margin-bottom: 16px;
}

a[target='_blank'] {
    border: 2px solid red;
}

a[href^='broken'] {
    border: 2px solid red;
}

[a$='.com'] {
    margin-left: 50px;
}

a[lang|='en'] {
    font-size: 10px;
}

[a~='www'] {
    color: green;
}

a[title*='popular'] {
    font-size: 24px;
}