* {
    position: relative;
}

.rectangle1 {
    border: 2px solid black;
    margin: 50px;
    background-color: blue;
    padding: 50px;
}

.rectangle2 {
    border: 2px solid black;
    background-color: yellow;
    padding: 50px;
}

.rectangle3 {
    border: 2px solid black;
    background-color: green;
    padding: 50px;
}

.rectangle4 {
    border: 2px solid black;
    background-color: pink;
    padding: 50px;
}