html {
    font-size: 18px;
}

.properties-list_item {
    line-height: 32px;
    padding: 8px;
}

.properties-list {
    padding-bottom: 8px;
    list-style-type: none;
    color: #f39;
    font-size: 24px;
}