.image-button {
    position: absolute;
    background-color: bisque;
    width: 200px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    flex-basis: 1;
    flex-grow: 0;
    flex-shrink: 1;
}

.image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-button:hover {
    opacity: 1;
    cursor: pointer;
}