a:link {
    color: white;
    background-color: black;
}

a:visited {
    color: green;
    background-color: orange;
}

a:active {
    border: 3px solid red;
}

a:hover {
    font-size: 24px;
}

button:disabled {
    border: 2px dashed grey;
}

.some-button:hover:enabled {
    color: rgb(230, 230, 230);
    background-color: grey;
}

input:focus {
    background-color: orange;
}

input:checked {
    margin-left: 20px;
}