.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.circle {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-left: 4px solid lightgrey;
    border-right: 4px solid lightgrey;
    border-bottom: 4px solid lightgrey;
    border-top: 4px solid black;
    margin-bottom: 8px;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}