* {
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.rect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    background-color: coral;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    transition: width 2s, opacity 0.5s;
}

.rect:hover {
    width: 100%;
    opacity: 1;
}

.rect:nth-child(1) {
    animation-timing-function: linear;
}

.rect:nth-child(2) {
    animation-timing-function: ease;
}

.rect:nth-child(3) {
    animation-timing-function: ease-in;
}

.rect:nth-child(4) {
    animation-timing-function: ease-out;
}

.rect:nth-child(5) {
    animation-timing-function: ease-in-out;
}